@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*Oswald*/
@font-face {
    font-family: Oswald;
    src : url('../fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Oswald;
    src : url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Oswald;
    src : url('../fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Oswald;
    src : url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*Roboto*/
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: medium;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src : url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

